
h1{
    color:black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: 4px;
}
h2{
    color:black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: 10px;
}
/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background:rgb(48, 190, 190);
  /* margin-top:30px; */
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background:#0000cd;
}
.card {
  background-color:rgb(221, 163, 54)	;
  padding: 20px;
  margin-top:30px;
  font-size: large;
  font-stretch: ultra-expanded;
}

.grid {
  background: linear-gradient(to left, #00ccff 0%, #ffff99 99%,  #cc3300 25%);
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 500px auto;  
}

.grid-item {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.row {
  font-size: 18px;
  padding: 20px;
}

.col {
  font-size: 18px;
  padding: 20px;
}

.card {
  background: linear-gradient(to left, #00ccff 0%, #ffff99 99%,  #cc3300 25%);
  padding: 20px;
  margin-top: 20px;
}
h3{
   padding: 40px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .grid, .grid-item,.card ,.row,.col,.header,.body {   
    width: 100%;
    padding: 0;
  }